@charset "UTF-8";
/********GOOGLE FONT**********/
@import url(http://fonts.googleapis.com/css?family=Fresca|Crushed|Neucha|Rum+Raisin|Patrick+Hand+SC|Annie+Use+Your+Telescope|Sanchez);
/********DESKTOP**********/
body {
	font-size: 100%;
	line-height: 1.5;
	overflow-x: hidden;
}
a {
	text-decoration: none;
}

header.hellobg {
	height: 100vh;
	background-image: url(../images/front.jpg);
	background-size: cover;
	background-position:center center;
	background-attachment: fixed;
	
	
}
h1.olivas {
	
	font-size: 4em;
	font-family: 'Neucha', cursive;
	color:rgba(42,64,85,1.00);
	text-align: center;
	text-shadow: 2px 2px 2px #000000;
	
}



p.frontLine {
        font-family: 'Fresca', sans-serif;
	    font-size:1.5em;
		margin-top:-10px;
	    text-align:center;
	    color:rgba(208,177,133,1.00);
		text-shadow:2px 2px 2px #000000;
}
/******NAVIGATION*******/

	
#nav {
	height:50px;
	width: 100%;
	font-size: 0.8em;
	text-align: center;
	line-height: 60px;
	text-transform: uppercase;
	position: absolute;
	left: 0;
	bottom: 0;
}
#nav ul {
	list-style: none;
	word-spacing: 50px;
}
#nav li {
	display: inline;
}
#nav a {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	color:rgba(142,27,29,1.00);
	display: inline-block;
}
#nav a:hover {
	color:#FFFFFF;
}
#menu {
	height:55px;
	width:100%;
	background-color:rgba(241,217,203,0.6);
	text-transform:uppercase;
	text-align:right;
	font-size:0.8em;
	line-height:50px;
	
}


#menu li {
	
	margin:10px;
	display:inline;
	
}
#menu a {
	
	color:rgba(147,147,147,1.00);
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	display:inline-block;
	
	
}
#menu a:hover {
	color:#D1D175;
}

/*********ABOUT*********/

#about {
	background-color: rgba(255,255,255,1.00);
	height: 100vh;
}
.about {
	font-size: 2.5em;
	text-align: center;
	padding:1px;
	margin-top:1%;
	color: rgba(69,69,69,1.00);
	font-family: 'Neucha', cursive;
}
/*p { line-height: 28px; font-size: 13px;  font-family: "Open Sans",sans-serif; font-style: normal; font-weight: 400; }*/
.aboutMe {
	text-transform: uppercase;
	line-height:30px;
	font-size: 0.9em;
	font-weight: 500;
	margin:1% 20% 1% 20%;
	text-align:center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;	
}
.life {
	 line-height:20px;
	 font-size:0.7em;
	 font-weight:400;
	 margin:1% 20% 1% 20%;
	 text-align:center;
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;	
	 
	 
}

.love{
	text-align:center;
	line-height:30px;
	font-size:1em;
	font-weight:500;
	
	
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
}

.narrowMe {
     width:100%;
	 text-align:center;
	 display:block;
	
}

.narrowMe img {
	
	width:20%;
	text-align:center;
	margin-top:30px;
	
}

/***********WORK**************/
#work {
	background-color: #FFCC99;
	padding: 50px;
}
h2 .work {
	font-size: 2.5em;
	text-align:center;
	padding-top: 50px;
	color: rgba(69,69,69,1.00);
	font-family: 'Neucha', cursive;
}
/***********CONTACT************/
#contact {
	background-color: rgba(255,255,255,1.00);
	/*height: 20vh;*/
}
.contact {
	font-size:2.5em;
	text-align: center;
	padding: 1px;
	color: rgba(69,69,69,1.00);
	font-family: 'Neucha', cursive;
}
iframe {
	text-align:left;
}

/************FOOTER*********/
#footer {
	background-color:rgba(0,0,0,0.5);
	background-image:url(../images/land.jpng.jpg);
	background-size: cover;
	background-position:top center;
	opacity:0.5;
	
	
	height:100vh;
	line-height:50%;
}
.footer {
	color:rgba(109,109,109,1.00);
	font-family:Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	font-size:100%;
	text-align:center;
	
}
li {
	
	display:inline;
	
	
}
.pin, .face, .insta, .link, .beha {
	 font-size:150%;
}
 i {
	
	color:rgba(63,62,62,1.00);
	position:relative;
	left:30%;
	margin:3%;
	
	
}
li a:hover i {
	color:rgba(245,245,245,1.00);
	border-radius:10%;
}

.logoDown {
	position:relative;
	left:43%;
}


/*****REUSABLE CLASSES*****/

.fl {
	float: left;
}
.fr {
	float: right;
}
.clear {
	clear: both;
}
